html,
body,
#app {
  margin: 0;
  padding: 0;
  font-size: $fontSize14;
}

html.dark {
  background: #222;
  color: white;
}
html.light {
  background-color: $bgGrayColor;
  color: #333;
}

ul {
  list-style: none;
}

ul,
li {
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

a {
  font-weight: 400;
  text-decoration: none;
  color: var(--el-color-primary);
}

// 版心
.wrapper {
  width: $contentWidth;
  margin: 0 auto;
}
::-webkit-scrollbar {
  width: $scrollbar-width;
  height: $fontSize12;
  background-color: $scrollbar-backgroundColor;
}

::-webkit-scrollbar-thumb {
  background: $scrollbar-color;
  border-radius: $scrollbar-borderRadius;
}
